<!DOCTYPE html>
<html lang="en">
<head>
    <title> Contact Info </title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }

    </style>
</head>
<h1 style="text-align: center; font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;">Contact Me:</h1>
    <body style="background-image: linear-gradient(to bottom right, rgb(172, 168, 190), #252347); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <p style= "text-align: left; margin-left: 40%; margin-right: 10%; font-size:200%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Email: <%= eMail %>
        </p>
        <p style= "text-align: left; margin-left: 40%; margin-right: 10%; font-size:200%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Phone: <%= phoneNumber %>
        </p>
    </body>
</html>


