<!DOCTYPE html>
<html lang="en">
<head>
    <title> SocialMedia </title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }

    </style>
</head>
<h1 style="text-align: center; font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;">Socials:</h1>
    <body style="background-image: linear-gradient(to bottom right, rgb(168, 190, 172), #324723); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <div><button style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; text-decoration: none; font-size: 32px; border: none"><a href=""><%= socialMedia1 %></a></button></div>
        <div><button style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; text-decoration: none; font-size: 32px; border: none"><a href=""><%= socialMedia2 %></a></button></div>
        <div><button style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; text-decoration: none; font-size: 32px; border: none"><a href=""><%= socialMedia3 %></a></button></div>
    </body>
</html>


